*Generated.cs
*.Generated.*.cs
FishStory/obj/
.vs/
FishStory/bin/
FishStory/Content/TiledObjects.Generated.xml
*.aeproperties
FishStory/FishStory.csproj.user
FishStory/FishStory/Libraries/DesktopGl/Debug/FlatRedBall.Forms.dll
FishStory/FishStory/bin/x86/Debug/*
FishStory/FishStory/bin/DesktopGL/x86/Debug/*
*.cache
FishStory/FishStory/obj/*
*.Generated.*
FishStory/FishStory/FishStory.csproj.user
*.csvSettings
FishStory/FishStory/GlueSettings/CompilerSettings.json
